pandas >= 2.2
numpy >= 1.26
tqdm >= 4.66
scipy >= 1.13
biopython >= 1.78
matplotlib
seaborn
xlrd
requests

[full_analysis]
networkx >= 3.2
gseapy >= 1.1
pyliftover >= 0.4
omnipath >= 1.0.0
nease >= 1.3
kinase-library >= 1.3